.filters-slidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 58px;
  /* width: 1080px; */
  right: 0;
  left: 254px;
  padding: 10px 12px 10px 0;
  z-index: 100;
  background-color: white;
  /* background-color: lightcoral; */
  }
  
  .filters {
  /* background-color: lightcyan; */
  width: 94%;  
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 15px;
}

.each-filter {
  padding: 8px 12px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.left-side-shade {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.white-shade {
  width: 80px;
  height: 40px;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0) 80%
  );
}

.next-icon-container {
  /* background-color: white; */
}

.next-icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.next-icon-container:hover {
  border-radius: 20px;
  background-color: rgb(225, 225, 225);
}
