.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 58px;
  background-color: white;
  width: 72px;
  z-index: 200;
  cursor: pointer;
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1216px) {
  .sidebar {
    width: 250px;
  }

  .sidebar-link {
    height: 50px;
    flex-direction: row;
    justify-content: start;
  }

  .sidebar-link img {
    margin: 0 25px;
  }
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-size: 10px;
  margin-top: 5px;
}

@media (min-width: 1216px) {
  .sidebar-link div {
    margin-top: 0px;
    font-size: 14px;
  }
}

