.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
  cursor: default;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 58px;
  background-color: white;
  width: 210px;
  z-index: 200;
  padding: 0 10px;
  overflow-y: hidden;
  transition: overflow 1s;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar-link {
  height: 40px;
  padding-left: 14px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-right: 24px;
}

.sidebar-link div {
  font-size: 14px;
  /* margin-top: 5px; */
}

.user-links,
.user-subscriptions,
.explore-links,
.more-from-youtube-links,
.setting-links {
  border-top: 1px solid rgb(220, 220, 220);
  margin-top: 10px;
  padding-top: 10px;
}

.user-link img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-right: 28px;
}

.user-link-heading {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.heading {
  padding-left: 14px;
  margin: 12px 0 5px;
  font-weight: bold;
}

.user-subscriptions img{
  border-radius: 12px;
}
/* 
@media (min-width: 1216px) {
  .sidebar-link div {
    margin-top: 0px;
    font-size: 14px;
  }
}

@media (min-width: 1216px) {
  .sidebar {
    width: 250px;
  }

  .sidebar-link {
    height: 50px; 
    flex-direction: row;
     justify-content: start;
  }

  .sidebar-link img {
    margin: 0 25px;
  }
} */
